
/* ALINEA EL TITULO Y IGUAL AJUSTA EL TAMAÑO DE LA LETRA */


h1 {
    color: var(--beige);
    text-align: center;
    padding-top: 40px;
    font-size: 64px;
}

.button-agregar-filtro-tarea{
    position: absolute;
    left: 1dvw;
    top: 22dvh;
    width: 50px;
    height: 50px;
    background-color: var(--gris);
    color: var(--blanco);
    border-radius: 50%;
    display: grid;
    justify-self: center;
    place-items: center;
    padding: 8px;
}

.filtro, .filtro section, .filtro option{
    display: grid;
}
/* SECTION PARA FILTRAR ENTRE LOS ESTADOS */

.filtro {
    display: none;
    font-weight: 600;
    margin: 0px auto;
    margin-top: 32px;
    place-items: center;
    padding: 8px;
    border-radius: 50px;
    background-color: var(--gris);
}


/* BOTON PARA AGREGAR UNA TAREA, AJUSTA POSICION, COLOR, BORDE, LOCALIZACION */

.button-agregar-tarea {
    position: absolute;
    right: 2vw;
    top: 20px;
    width: 52px;
    height: 52px;
    background-color: var(--beige);
    color: var(--black);
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 12px;
}

/* AJUSTAR  EL FORMULARIO EN FORMA DE GRID */

.crear-tarea, .crear-tarea form, .crear-tarea label {
    display: grid;
}

/* AJUSTAR PARA OCULTAR EL FORMULARIO */

.crear-tarea, .editar-tarea {
    display: none;
}

/* AJUSTAR LA POSICION DEL FORMULARIO */

.crear-tarea form {
    position: relative;
    gap: 16px
}

/* AJUSTAR LA POSICION DEL TITULO H2 DEL FORMULARIO */

.crear-tarea h2 {
    font-weight: 700;
    color: #000;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

/* BOTON CERRAR LA VENTANA DE CREAR TAREA*/

.button-cerrar {
    background-color: var(--gris);
    color: var(--negro);
    width: 32px;
    height: 32px;
    top: 16px;
    right: 18px;
    transform: rotate(45deg);
    border-radius: 50%;
    border: none;
    display: grid;
    place-items: center;
    position: absolute;
}

.crear-tarea label {
    color: var(--black);
    gap: 8px
}

/* z - INDEX ES MOSTRARSE EN LA CAPA 1, AL SALIR SIEMPRE PONERSE ENFRENTE  */
/* CREAR LA UBICACION Y OCUPACION DEL MENU DE CREAR TAREAS */

.crear-tarea {
    z-index: 1;
    position: fixed;
    background-color: var(--cafe-transparente);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    place-items: center;
}

.crear-tarea form {
    width: 300px;
    background-color: var(--cafe-claro);
    padding: 32px;
    border-radius: 20px;
}

.crear-tarea form input, .crear-tarea form textarea {
    background-color: var(--blanco);
    padding: 8px;
    border-radius: 20px;
}

.button-enviar {
    display: grid;
    justify-self: right;
    place-items: center;
    padding: 8px;
    border-radius: 25px;
    height: 30px;
    width: 40px;
    background-color: var(--verde-oscuro);
    color: var(--blanco);
}

.lista-tareas {
    display: grid;
    grid-template-columns: auto ;
    gap: 18px;
    padding: 1%;
    border-radius: 32px;
    background-color: var(--otro-blanco);
    place-items: center;
    margin: 11dvh 2dvw;

}

.lista-tareas li {
    margin-top: 10px;
    width: 70vw;
    padding: 15px;
    background-color: var(--cafe-claro);
    border-radius: 20px;
}

.lista-tareas li h4 {
    color: var(--black);
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.lista-tareas p {
    text-transform: lowercase;
    word-spacing: 3px;
    text-align: left;
    color:var(--blanco);
    font-size: 14px;
    text-transform: uppercase;
}

.tarea {
    display: grid;
    gap: 16px;
    margin-bottom: 16px;
}

/* BOTONES PARA EDITAR LA TAREA */

.wrapper-botones {
    display: flex;
    justify-content: space-between;
}

.wrapper-botones button {
    background-color: var(--verde-oscuro);
    color: var(--beige);
    padding: 8px 16px;
    border-radius: 20px;
}

.wrapper-botones button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

